<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="../styling/main.css">
<!--    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">-->
    <title>Wormsite</title>
</head>
<body>
    <h1 class="heading-1">Stay tuned - the worm could appear at any time!</h1>
    <img class="image display-none" src="../images/worm-min.jpg" alt="The Worm!">
    <script type="module" src="/javascript/index.js"></script>

</body>
</html>