$color-grey: #a4a4a4;
$color-grey-dark: #7c7c7c;
$gradient: linear-gradient(145deg, rgba($color-grey,1) 0%, rgba($color-grey-dark,1) 100%);

// FONT VARIABLES
$font-primary: 'Neuton', serif;
$font-display: 'Nanum Gothic', sans-serif;


// BREAK POINTS
$break-tiny: 280px;
$break-smallest: 400px;
$break-small: 600px;
$break-medium: 900px;
$break-large: 1260px;
$break-largest: 1500px;

/*Universal declaration - will apply these settings to all elements, also select all before and after pseudoelements - prevents strange behaviour*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit; /*forcing inheritance on each element from body - this is considered good practice*/
}

html {
  font-size: 62.5%; /*1rem = 10px*/
  height: 100%;
  font-family: $font-primary;
  //color: $color-primary-dark;
}

body {
  box-sizing: border-box; /*changes box model so that borders and paddings are not added to total width/height specified for a box*/
  //padding: 2rem; /* padding around body - not inherited to other elements*/
  height: 100%;
  width: 100%;
  background: $gradient;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 2rem;
}



.image {
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.heading-1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $font-display;
  font-size: 5rem;
  text-align: center;
}

.display-none {
  display: none;
}